.todo {
  background-color: #fff;
  min-width: 600px;
  border-radius: 20px;
  padding: 20px 55px;
}

.todo__title {
  font-size: 40px;
  margin-bottom: 0.3em;
  text-align: center;
}

.todo__block {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.todo__empty {
  text-align: center;
}
